In [56]:
import pandas as pd
data= pd.read_excel('E-commerce.xlsx')
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Revenue,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,15.30,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,22.00,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
...,...,...,...,...,...,...,...,...,...
230584,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-09-12 12:50:00,0.85,12680.0,10.20,France
230585,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-09-12 12:50:00,2.10,12680.0,12.60,France
230586,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-09-12 12:50:00,4.15,12680.0,16.60,France
230587,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-09-12 12:50:00,4.15,12680.0,16.60,France
230588,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-09-12 12:50:00,4.95,12680.0,14.85,France

In [57]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Revenue,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,15.30,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,22.00,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom

In [58]:
data.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Revenue,Country
230584,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-09-12 12:50:00,0.85,12680.0,10.20,France
230585,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-09-12 12:50:00,2.10,12680.0,12.60,France
230586,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-09-12 12:50:00,4.15,12680.0,16.60,France
230587,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-09-12 12:50:00,4.15,12680.0,16.60,France
230588,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-09-12 12:50:00,4.95,12680.0,14.85,France

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230589 entries, 0 to 230588
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    230589 non-null  object
 1   StockCode    230589 non-null  object
 2   Description  229991 non-null  object
 3   Quantity     230589 non-null  int64
 4   InvoiceDate  230589 non-null  datetime64[ns]
 5   UnitPrice    230589 non-null  float64
 6   CustomerID   170491 non-null  float64
 7   Revenue      230589 non-null  float64
 8   Country      230589 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 15.8+ MB

In [60]:
data.isna().sum()

InvoiceNo          0
StockCode          0
Description      598
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID     60098
Revenue            0
Country            0
dtype: int64

In [61]:
data.fillna(data[['Description','CustomerID']].mean(),inplace=True)
data

C:\Users\vantl\AppData\Local\Temp\ipykernel_2584\518681699.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.fillna(data[['Description','CustomerID']].mean(),inplace=True)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Revenue,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,15.30,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,22.00,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
...,...,...,...,...,...,...,...,...,...
230584,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-09-12 12:50:00,0.85,12680.0,10.20,France
230585,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-09-12 12:50:00,2.10,12680.0,12.60,France
230586,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-09-12 12:50:00,4.15,12680.0,16.60,France
230587,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-09-12 12:50:00,4.15,12680.0,16.60,France
230588,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-09-12 12:50:00,4.95,12680.0,14.85,France

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230589 entries, 0 to 230588
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    230589 non-null  object
 1   StockCode    230589 non-null  object
 2   Description  229991 non-null  object
 3   Quantity     230589 non-null  int64
 4   InvoiceDate  230589 non-null  datetime64[ns]
 5   UnitPrice    230589 non-null  float64
 6   CustomerID   230589 non-null  float64
 7   Revenue      230589 non-null  float64
 8   Country      230589 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 15.8+ MB

1. Find the total revenue 
2. Find the total number of Orders
3. Find the unique number of customers, and give which customer most frequently using e commerce sites.
4. Find the revenue by country
5. Find the Total number products sold
6. Find the top 3 countries in terms of revenue
7. Find the average revenue by country
8. Find the Maximum revenue by country

### 1. Find the total revenue

In [63]:
e=data['Revenue'].sum()
e

5148073.239999999

### 2.Find the total number of Orders

In [64]:
e=data['InvoiceNo'].count()
e

230589

### 3.Find the unique number of customers, and give which customer most frequently using e commerce sites.

In [65]:
data.value_counts('CustomerID')

CustomerID
15279.340223    60098
17841.000000     3368
14911.000000     2313
12748.000000     2078
14096.000000     1604
                ...
17331.000000        1
14607.000000        1
18080.000000        1
17621.000000        1
16532.000000        1
Length: 3126, dtype: int64

### 4.Find the revenue by country

In [66]:
data.groupby('Country').sum()['Revenue']

C:\Users\vantl\AppData\Local\Temp\ipykernel_2584\2848473531.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Country').sum()['Revenue']

Country
Australia                 51918.01
Austria                    2999.69
Bahrain                     665.14
Belgium                   17086.58
Canada                     1751.88
Channel Islands            7899.21
Cyprus                     5673.51
Czech Republic              334.99
Denmark                    4998.11
EIRE                     113425.86
European Community          440.55
Finland                   11519.79
France                    87804.11
Germany                   97755.23
Greece                     2149.28
Hong Kong                  1550.59
Iceland                    2540.29
Israel                     1045.75
Italy                      3797.76
Japan                     19074.65
Lithuania                  1661.06
Malta                       863.97
Netherlands               89945.76
Norway                    15495.40
Poland                     3983.12
Portugal                  13776.38
Saudi Arabia                 14.75
Singapore                 14300.42
Spain                     26422.27
Sweden                     9812.21
Switzerland               27864.21
USA                        4314.22
United Arab Emirates        975.54
United Kingdom          4502149.94
Unspecified                2063.01
Name: Revenue, dtype: float64

### 5.Find the Total number products sold

In [67]:
e=data['Quantity'].count()
e

230589

### 6.Find the top 3 countries in terms of revenue

In [68]:
data.groupby('Country').sum()["Revenue"].nlargest(3)

C:\Users\vantl\AppData\Local\Temp\ipykernel_2584\1446334015.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Country').sum()["Revenue"].nlargest(3)

Country
United Kingdom    4502149.94
EIRE               113425.86
Germany             97755.23
Name: Revenue, dtype: float64

### 7.Find the average revenue by country

In [69]:
data.groupby('Country').mean()['Revenue']

C:\Users\vantl\AppData\Local\Temp\ipykernel_2584\3700602967.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Country').mean()['Revenue']

Country
Australia               132.782634
Austria                  27.774907
Bahrain                  47.510000
Belgium                  19.662348
Canada                   22.460000
Channel Islands          21.760909
Cyprus                   23.838277
Czech Republic           27.915833
Denmark                  36.750809
EIRE                     36.065456
European Community       20.978571
Finland                  31.734959
France                   21.776813
Germany                  24.698138
Greece                   18.853333
Hong Kong                46.987576
Iceland                  23.965000
Israel                   13.407051
Italy                    22.605714
Japan                    87.098858
Lithuania                47.458857
Malta                    17.632041
Netherlands             110.770640
Norway                   32.829237
Poland                   20.637927
Portugal                 18.271061
Saudi Arabia             14.750000
Singapore               230.651935
Spain                    26.186591
Sweden                   60.945404
Switzerland              32.897532
USA                      17.609061
United Arab Emirates     26.365946
United Kingdom           21.310338
Unspecified              10.315050
Name: Revenue, dtype: float64

### 8.Find the Maximum revenue by country

In [70]:
data.groupby('Country').max()['Revenue']

C:\Users\vantl\AppData\Local\Temp\ipykernel_2584\3501516592.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  data.groupby('Country').max()['Revenue']

Country
Australia                 1944.00
Austria                    160.00
Bahrain                    205.74
Belgium                    165.00
Canada                     534.24
Channel Islands            131.40
Cyprus                     290.00
Czech Republic              61.20
Denmark                    266.24
EIRE                      1687.17
European Community          45.00
Finland                    551.20
France                    1136.30
Germany                    876.00
Greece                     135.00
Hong Kong                  166.00
Iceland                    249.60
Israel                      75.00
Italy                      120.00
Japan                     3794.40
Lithuania                  122.40
Malta                      160.00
Netherlands               2577.60
Norway                     376.50
Poland                     102.00
Portugal                   557.72
Saudi Arabia                14.75
Singapore                 2382.92
Spain                     1350.00
Sweden                     518.40
Switzerland                300.00
USA                         81.36
United Arab Emirates       153.00
United Kingdom          168469.60
Unspecified                 45.00
Name: Revenue, dtype: float64