# Project1 - Sales Data

1st set of questions(Basic)

Check is there any null values in the data. Yes/ No

Find total sales.

Find total number of products sold.

Find maximum Sales

Find Minimum Sales

Find the Average Sales

Find the Range of Sales

Find the Standard Deviation of Sales

Find Average Sales by each zone

Find maximum sales by each zone

Find minimum sales by each zone

In [160]:
import pandas as pd
data = pd.read_excel('1 Sales Data.xlsx')
data

,Invoice Number,Date,Time,Zone,Manager,Customer,Product,price,Units Sold,sales
0,102234,2010-01-07,10:25:37.200000,East,Bruce,Polo,A001,485,42,20370
1,102235,2010-01-07,12:00:00,East,Jacob,EEE,B227,292,71,20732
2,102235,2010-01-07,14:19:12,East,Melvin,Marco,A009,544,87,47328
3,102236,2010-01-07,12:57:00,South,Alicia,EEE,D440,385,51,19635
4,102236,2010-01-07,14:51:36,East,Paul,Zee,WP6,173,69,11937
...,...,...,...,...,...,...,...,...,...,...
26078,115273,2018-12-10,11:16:48,West,Melvin,ABC,B229,388,202,78376
26079,115274,2018-12-10,11:16:48,West,Melvin,ABC,B229,388,201,77988
26080,115273,2019-12-10,11:16:48,West,Melvin,ABC,B229,388,500,194000
26081,115273,2019-12-10,11:16:48,West,Melvin,ABC,B229,388,1000,388000
26082,115274,2019-12-10,11:16:48,West,Melvin,ABC,B229,388,1500,582000

In [161]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26083 entries, 0 to 26082
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice Number  26083 non-null  int64
 1   Date            26083 non-null  datetime64[ns]
 2   Time            26083 non-null  object
 3   Zone            26083 non-null  object
 4   Manager         26083 non-null  object
 5   Customer        26083 non-null  object
 6   Product         26083 non-null  object
 7   price           26083 non-null  int64
 8   Units Sold      26083 non-null  int64
 9   sales           26083 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 2.0+ MB

## Find total sales

In [162]:
a=data['sales'].sum()
a

1085806200

## Find total number of products sold

In [163]:
z=data['Product '].value_counts().sum()
z

26083

## Find maximum sales

In [164]:
z=data['sales'].max()
z

582000

## Find minimum sales

In [165]:
z=data['sales'].min()
z

865

## Find the Avergae Sales

In [166]:
z=data['sales'].mean()
z

41628.88471418165

## Find the Range of Sales

In [167]:
#Range = max()-min()
Range =582000-865
Range

581135

### Find the Standard Deviation of Sales

In [168]:
#standard deviation
z=data['sales'].std()
z

30413.734244059717

### Find Average Sales by each zone

In [169]:
z=data.groupby('Zone').mean()['sales']
z

C:\Users\vantl\AppData\Local\Temp\ipykernel_7916\1161567524.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  z=data.groupby('Zone').mean()['sales']

Zone
East     40856.468783
North    41933.083101
South    40869.279839
West     42309.618582
Name: sales, dtype: float64

In [170]:
#Find maximum sales by each zone
za=data.groupby('Zone').max()['sales']
z
za

Zone
East     162656
North    165300
South    157760
West     582000
Name: sales, dtype: int64

In [171]:
#Find minimum sales by each zone.
za=data.groupby('Zone').min()['sales']
z
za

Zone
East     1015
North    1038
South     865
West      865
Name: sales, dtype: int64

In [ ]:
#This is a sales data.The data contains 26083 rows and 10 columns
*There is no null values in the data.
*The total sales from 2010 to 2019 is 1085806200
*The total number of products sold from 2010 to 2019 is 26083.
*The maximum sales from 2010 to 2019 is 582000.
*The minimum sales from 2010 to 2019 is 865
*The Range of Sales from 2010 to 2019 is 581135
*The Standard Deviation of Sales from 2010 to 2019 is 30413.734244059717

2nd Set of questions

Find Manager Wise sales

Find product wise sales

Find zone Wise Sales

Find zone wise product sales

Find Average units sold by each manager

Find average units sold by zone

Find total sales by customer

Find total units sold by manager

Find Total Number of Orders

Give an Inference from the data

In [172]:
#Find Manager Wise sales

print("Find Manager Wise sales:",data.groupby('Manager').sum()['sales'])

Find Manager Wise sales: Manager
Aaron         26849758
Abbott        27098975
Abel          28249474
Alexandra     25981767
Alice         26573341
Alicia        25575993
Allan         90291223
Bruce         25533890
Grace         25789066
Hannah        27736138
Jack          27608183
Jacob         27505184
Jim          267417319
Lucy          24248866
Lydia         24951596
Malcolm       24938730
Melvin        29764672
Paul          28634113
Paxton        26878183
Rojer        116239848
Sarah         23662807
Tom          109184168
Tony          25092906
Name: sales, dtype: int64

C:\Users\vantl\AppData\Local\Temp\ipykernel_7916\507017478.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print("Find Manager Wise sales:",data.groupby('Manager').sum()['sales'])

In [173]:
#Find product wise sales

data.groupby('Product ').sum()['sales']

C:\Users\vantl\AppData\Local\Temp\ipykernel_7916\1363128994.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Product ').sum()['sales']

Product
A001    71165990
A002    83824255
A003    95344384
A009    80055584
A010    36526140
AL10    81071385
AL9     63099648
B227    43665096
B228    78313572
B229    59977816
D440    55816915
D441    50352855
G224    52050360
G225    73537764
KKK     60218836
WP6     25954152
WP7     74831448
Name: sales, dtype: int64

In [174]:
#Find zone Wise Sales.

data.groupby('Zone').sum()['sales']

C:\Users\vantl\AppData\Local\Temp\ipykernel_7916\1331134266.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Zone').sum()['sales']

Zone
East     307567497
North    361295444
South    101355814
West     315587445
Name: sales, dtype: int64

In [175]:
#Find zone wise product sales.

data.groupby(['Zone','Product ']).sum()['sales']

C:\Users\vantl\AppData\Local\Temp\ipykernel_7916\3653000908.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(['Zone','Product ']).sum()['sales']

Zone  Product
East  A001        17583190
      A002        26627745
      A003        23718990
      A009        24735680
      A010        11311020
                    ...
West  G224        14399892
      G225        22970988
      KKK         16949557
      WP6          6044793
      WP7         24498808
Name: sales, Length: 68, dtype: int64

In [176]:
#Find Average units sold by each manager.

data.groupby('Manager').mean()['Units Sold']

C:\Users\vantl\AppData\Local\Temp\ipykernel_7916\3535928792.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Manager').mean()['Units Sold']

Manager
Aaron        115.607595
Abbott       113.591772
Abel         117.488924
Alexandra    115.731013
Alice        111.643987
Alicia       114.828704
Allan        112.941204
Bruce        110.144817
Grace        115.830696
Hannah       116.110759
Jack         113.547468
Jacob        113.286585
Jim          112.900398
Lucy         110.412975
Lydia        115.243671
Malcolm      109.780063
Melvin       118.268589
Paul         119.487342
Paxton       111.237342
Rojer        112.920000
Sarah        110.454114
Tom          115.477492
Tony         108.530063
Name: Units Sold, dtype: float64

In [177]:
#Find average units sold by zone
data.groupby('Zone').mean()['Units Sold']

C:\Users\vantl\AppData\Local\Temp\ipykernel_7916\3733274422.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Zone').mean()['Units Sold']

Zone
East     112.711743
North    113.574048
South    112.649597
West     114.656522
Name: Units Sold, dtype: float64

In [178]:
#Find total sales by customer.
data.groupby('Customer').sum()['sales']

C:\Users\vantl\AppData\Local\Temp\ipykernel_7916\2448874581.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Customer').sum()['sales']

Customer
ABC      157258814
AX       205881436
EEE      204380240
Marco    258936887
Polo     153491179
Zee      105857644
Name: sales, dtype: int64

In [179]:
#Find total units sold by manager.
data.groupby('Manager').sum()['Units Sold']

C:\Users\vantl\AppData\Local\Temp\ipykernel_7916\3246042463.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Manager').sum()['Units Sold']

Manager
Aaron         73064
Abbott        71790
Abel          74253
Alexandra     73142
Alice         70559
Alicia        74409
Allan        243953
Bruce         72255
Grace         73205
Hannah        73382
Jack          71762
Jacob         74316
Jim          737917
Lucy          69781
Lydia         72834
Malcolm       69381
Melvin        77939
Paul          75516
Paxton        70302
Rojer        316176
Sarah         69807
Tom          287308
Tony          68591
Name: Units Sold, dtype: int64

In [182]:
#find Total Number of Orders
g=data['Invoice Number'].count()
g

26083

### Give an Inference from the data.

In [ ]:
*The Total Number of Orders from 2010 to 2019 is 26083