In [48]:
import pandas as pd
data = pd.read_csv('StudentsPerformance (1).csv')
data

,Student ID,gender,race/ethnicity,parental level of education,lunch,Column,Column.1,test preparation course,math score,reading score,writing score
0,1.0,female,group B,bachelor's degree,standard,NaN,NaN,none,72.0,72.0,74.0
1,2.0,female,group C,Diploma,standard,NaN,NaN,completed,69.0,90.0,88.0
2,3.0,female,group B,master's degree,standard,NaN,NaN,none,90.0,95.0,93.0
3,4.0,male,group A,associate's degree,free/reduced,NaN,NaN,none,47.0,57.0,44.0
4,5.0,male,group C,Diploma,standard,NaN,NaN,none,76.0,78.0,75.0
...,...,...,...,...,...,...,...,...,...,...,...
1013,1001.0,female,group E,master's degree,standard,NaN,NaN,completed,88.0,99.0,95.0
1014,1002.0,male,group C,high school,free/reduced,NaN,NaN,none,62.0,55.0,55.0
1015,1003.0,female,group C,high school,free/reduced,NaN,NaN,completed,59.0,71.0,65.0
1016,1004.0,female,group D,Diploma,standard,NaN,NaN,completed,68.0,78.0,77.0
1017,1005.0,female,group D,Diploma,free/reduced,NaN,NaN,none,77.0,86.0,86.0

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018 entries, 0 to 1017
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Student ID                   1005 non-null   float64
 1   gender                       1005 non-null   object
 2   race/ethnicity               1005 non-null   object
 3   parental level of education  1005 non-null   object
 4   lunch                        1005 non-null   object
 5   Column                       0 non-null      float64
 6   Column.1                     0 non-null      float64
 7   test preparation course      1005 non-null   object
 8   math score                   1000 non-null   float64
 9   reading score                1000 non-null   float64
 10  writing score                1000 non-null   float64
dtypes: float64(6), object(5)
memory usage: 87.6+ KB

### 1. check whether null values are present in the given data.

In [50]:
data.isna().sum()

Student ID                       13
gender                           13
race/ethnicity                   13
parental level of education      13
lunch                            13
Column                         1018
Column.1                       1018
test preparation course          13
math score                       18
reading score                    18
writing score                    18
dtype: int64

In [51]:
data=data.fillna(0)
data.head()

,Student ID,gender,race/ethnicity,parental level of education,lunch,Column,Column.1,test preparation course,math score,reading score,writing score
0,1.0,female,group B,bachelor's degree,standard,0.0,0.0,none,72.0,72.0,74.0
1,2.0,female,group C,Diploma,standard,0.0,0.0,completed,69.0,90.0,88.0
2,3.0,female,group B,master's degree,standard,0.0,0.0,none,90.0,95.0,93.0
3,4.0,male,group A,associate's degree,free/reduced,0.0,0.0,none,47.0,57.0,44.0
4,5.0,male,group C,Diploma,standard,0.0,0.0,none,76.0,78.0,75.0

In [52]:
data.isna().sum()

Student ID                     0
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
Column                         0
Column.1                       0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [53]:
#dropping using drop()

data.drop(['Column'], axis = 1)

,Student ID,gender,race/ethnicity,parental level of education,lunch,Column.1,test preparation course,math score,reading score,writing score
0,1.0,female,group B,bachelor's degree,standard,0.0,none,72.0,72.0,74.0
1,2.0,female,group C,Diploma,standard,0.0,completed,69.0,90.0,88.0
2,3.0,female,group B,master's degree,standard,0.0,none,90.0,95.0,93.0
3,4.0,male,group A,associate's degree,free/reduced,0.0,none,47.0,57.0,44.0
4,5.0,male,group C,Diploma,standard,0.0,none,76.0,78.0,75.0
...,...,...,...,...,...,...,...,...,...,...
1013,1001.0,female,group E,master's degree,standard,0.0,completed,88.0,99.0,95.0
1014,1002.0,male,group C,high school,free/reduced,0.0,none,62.0,55.0,55.0
1015,1003.0,female,group C,high school,free/reduced,0.0,completed,59.0,71.0,65.0
1016,1004.0,female,group D,Diploma,standard,0.0,completed,68.0,78.0,77.0
1017,1005.0,female,group D,Diploma,free/reduced,0.0,none,77.0,86.0,86.0

In [54]:
data.drop(['Column', 'Column.1'], axis = 1)

,Student ID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1.0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,2.0,female,group C,Diploma,standard,completed,69.0,90.0,88.0
2,3.0,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,4.0,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,5.0,male,group C,Diploma,standard,none,76.0,78.0,75.0
...,...,...,...,...,...,...,...,...,...
1013,1001.0,female,group E,master's degree,standard,completed,88.0,99.0,95.0
1014,1002.0,male,group C,high school,free/reduced,none,62.0,55.0,55.0
1015,1003.0,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
1016,1004.0,female,group D,Diploma,standard,completed,68.0,78.0,77.0
1017,1005.0,female,group D,Diploma,free/reduced,none,77.0,86.0,86.0

### 2.find the total number of students.

In [55]:
w=data['Student ID'].value_counts().sum()
w

1018

### 3. find the average for reading score

In [56]:
w=data['reading score'].mean()
w

67.94597249508841

### 4.check the descriptive statistics for writing score

In [57]:
data.describe()['writing score']

count    1018.000000
mean       66.850688
std        17.531186
min         0.000000
25%        57.000000
50%        69.000000
75%        78.000000
max       100.000000
Name: writing score, dtype: float64

### 5.find how many students had completed the test

In [58]:
w=data['test preparation course'].value_counts()
w

none         644
completed    361
0             13
Name: test preparation course, dtype: int64

### 6.find the min score in math

In [59]:
data.min()['math score']

C:\Users\vantl\AppData\Local\Temp\ipykernel_5300\775371618.py:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.min()['math score']

0.0

### 7.find the max score in writing

In [60]:
data.max()['writing score']

C:\Users\vantl\AppData\Local\Temp\ipykernel_5300\1462445675.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.max()['writing score']

100.0

### 8.find the number of students by lunch

In [61]:
e=data.groupby('lunch').count()['Student ID']
e

lunch
0                13
free/reduced    356
standard        649
Name: Student ID, dtype: int64

### 9.find the average score for each by race/ethnicity.

In [63]:
#find the total score

data.loc[["Total Score"]] = ['math score', 'reading score', 'writing score'].list()

AttributeError: 'list' object has no attribute 'list'

### 10.create a count plot for parental level of education.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data['parental level of education'].value_counts()

In [ ]:
sns.countplot(x='parental level of education',data=data)

### 11. Find the total score of each student

### 12.What is the average of total score for male and female students?

### 13. What is the average of total score by gender and parental education level?

### 14. What is the average math score by race/ethnicity?

### 15.Find the number of Students by test preparation course

### 16. Find the average total score by test preparation cours

### 17. create a new variable as, 'Score', and the values in the column should be the sum of all the three papers

### 18. create a new variable as, " Percentage", and find the percentage for the score

### 19. create a new variable called, 'status'. Inside this column, find the status as Pass \ Fail, those who score above 40 % will pass the exam

### 20. create a pie chart using the status column